// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ipsum-well {
  border: 2px solid grey;
  border-radius: 1em;
  height: 300px;
  padding: 10px;
  background: lightgrey;
  overflow: scroll;
}

.ipsum-control form{
  border: 20px solid white;
}

.add-song h3{
  font-size: 15px;
}

.btn-success {
  background-color: #83d6cd;
  border-color: #83d6cd;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  background-color: #2c887f;
  border-color: #2c887f;
}

.btn-danger {
  background-color: #6a5944;
  border-color: #6a5944;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  background-color: #45331b;
  border-color: #45331b;
}
