// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ipsum-well {
  border: 2px solid grey;
  border-radius: 1em;
  height: 300px;
  padding: 10px;
  background: lightgrey;
}
